results/report.html
results/log.html
results/output.xml
resources/test_data_manager/__pycache__/requestUtils.cpython-312.pyc
resources/validation/__pycache__/CC_Fee_Manager.cpython-312.pyc
resources/validation/__pycache__/Doc_Stamp_Deed_Trust_fee.cpython-312.pyc
resources/validation/__pycache__/Document_Preparation_Fee.cpython-312.pyc
resources/validation/__pycache__/Escrow_Fee.cpython-312.pyc
resources/validation/__pycache__/Intangiable_Tax_Note.cpython-312.pyc
resources/validation/__pycache__/Guarantee_Fee.cpython-312.pyc
resources/validation/__pycache__/Mortgage_Recording_Fee.cpython-312.pyc
resources/validation/__pycache__/Origination_Fee.cpython-312.pyc
resources/validation/__pycache__/Owner_Title_Fee.cpython-312.pyc
resources/validation/__pycache__/Title_Search_Fee.cpython-312.pyc
resources/test_data_manager/__pycache__/requestUtils.cpython-312.pyc
resources/test_data_manager/__pycache__/requestUtils.cpython-312.pyc
resources/validation/__pycache__/CC_Fee_Manager.cpython-312.pyc
resources/validation/__pycache__/Doc_Stamp_Deed_Trust_fee.cpython-312.pyc
resources/validation/__pycache__/Mortgage_Release_Fee.cpython-312.pyc
tests/output.xml
tests/report.html
resources/test_data_manager/__pycache__/requestUtils.cpython-312.pyc
resources/validation/__pycache__/CC_Fee_Manager.cpython-312.pyc
resources/validation/__pycache__/Doc_Stamp_Deed_Trust_fee.cpython-312.pyc
resources/validation/__pycache__/Deed_of_Trust_Recording_fee.cpython-312.pyc
resources/validation/__pycache__/Deed_of_Trust_Release_fee.cpython-312.pyc
resources/validation/__pycache__/Doc_Stamp_Deed_Trust_fee.cpython-312.pyc
resources/validation/__pycache__/Doc_Stamp_Mortgage.cpython-312.pyc
resources/validation/__pycache__/Document_Preparation_Fee.cpython-312.pyc
resources/validation/__pycache__/Escrow_Fee.cpython-312.pyc
resources/validation/__pycache__/Guarantee_Fee.cpython-312.pyc
resources/validation/__pycache__/Intangiable_Tax_Note.cpython-312.pyc
resources/validation/__pycache__/kimpton_assertions.cpython-312.pyc
resources/validation/__pycache__/Lenders_Title_Insurance_Fee.cpython-312.pyc
resources/validation/__pycache__/Lenders_Title_Policy_fee.cpython-312.pyc
resources/validation/__pycache__/Mortgage_Recording_Fee.cpython-312.pyc
resources/validation/__pycache__/Origination_Fee.cpython-312.pyc
resources/validation/__pycache__/Owner_Title_Fee.cpython-312.pyc
resources/validation/__pycache__/Purchasers_Fee.cpython-312.pyc
resources/validation/__pycache__/Title_Search_Fee.cpython-312.pyc
